@charset "UTF-8"; 

body {
  background-color: rgb(248, 193, 111);
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
}
 
header   {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: white;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
footer   {
  padding: 40px;
  height: 40px;
  background-color : black;
  color: white;
}

a {
  background-color: lightslategray;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  background-color: orange;
}

table tr:nth-of-type(even) {
  background-color: orange;
}